@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
}

.container{
    width: 87%;
    margin: 0 auto;
    overflow: hidden;
    padding: 60px 0;
}

@media screen and (min-width:1024px) {
    .container{
        width: 85%;
        padding: 70px 0;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }